.button {
    -fx-font-weight: bold;
    -fx-background-color: #0bea00;
    
}

.button:hover {
    -fx-background-color: #0bFF00;
    -fx-scale-y: 1.051;
    -fx-border-color:black;
    -fx-border-width: 0 1 1 0;
}

#mainPane{
    -fx-background-image: url("3.png");
}

#subPane{
    -fx-background-image: url("sub.png");
}



.text-field {
    -fx-background-color: #012734 , #012734 , #012734;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #0bea00;
}

.text-field:focused {
    -fx-background-color: #212734 , #212734 , #212734;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #0bea00;
}

#label_name{
    -fx-font-weight: bold;
    -fx-text-fill: #0bea00;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #0bea00;
}